.bg-img {
    background-image: url('../../../assets/keyboard-bg.jpg');
    background-size: cover;
    height: 338px;
    width: 100%;
    position: center center;
}

.first-part {
    margin-left: 75px;
}

.first-part h3 {
    font-family: monserrat;
}

.first-part h3::after {
    content: "";
    display: inline-block;
    border-bottom: 1px solid white;
    margin-left: 2px;
    /* add some spacing between the text and line */
    vertical-align: middle;
    /* align the line with the text vertically */
    width: 150px;
}

.second-part h3::after {
    content: "";
    display: inline-block;
    border-bottom: 2px solid #fff;
    margin-left: 12px;
    /* add some spacing between the text and line */
    vertical-align: middle;
    /* align the line with the text vertically */
    width: 150px;
}